<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>
        <script src="js/show_charts.js"></script>
        <script>
            $(window).on( "load", function() {
                showCharts();
            });
        </script>
    </head>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <div id="chart_static" style="height: 300px; width: 100%;"></div>
        <div id="chart_dynamic" style="height: 300px; width: 100%;"></div>
    </body>
</html>
